/* styles.module.css */

.container {
  /*background-color: #2196f3; /* Azul */
  background-color: #35383a; /* Azul principal */
  
  color: #ffffff; /* Blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h2,
h3 {
  color: #ffffff; /* Blanco */
}

p {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
}

input {
  margin-right: 10px;
}


button {
  appearance: none;
  -webkit-appearance: none;

  background-color: #ff6600;
  color: #ffffff;

  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Hover */
button:hover {
  background-color: #e65c00;
  color: #ffffff;
}

/* Cuando se presiona */
button:active {
  background-color: #ff6600;
  color: #ffffff;
}

/* Cuando queda seleccionado */
button:focus,
button:focus-visible {
  background-color: #ff6600;
  color: #ffffff;
  outline: none;
}

/* Evita resaltado azul en móviles */
button {
  -webkit-tap-highlight-color: transparent;
}