.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; /* Fondo blanco */
  flex-direction: column; /* Flex vertical */
  color: black; /* Texto en negro */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Agrega estilos adicionales según tus necesidades */
