.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; /* Fondo blanco */
  flex-direction: column; /* Flex vertical */
  color: black; /* Texto en negro */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoContainer {
  width: 70vw;        /* 70% del ancho del viewport */
  height: 70vh;       /* 70% del alto del viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantiene proporción */
}
/* Agrega estilos adicionales según tus necesidades */
