.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quorum {
  font-weight: bold; /* Letra en negrita */
  font: size 36px; /* Tamaño de letra grande */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Agrega estilos adicionales según tus necesidades */
