/* DetalleRespuestas.module.css */
.enunciado {
  color: #2196f3; /* Rojo */
}
.listaRespuestas {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.itemRespuesta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  background: #ffffff;
  padding: 8px 16px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.colorIndicador {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: inline-block;
}

.opcionTexto {
  font-weight: 600;
}
.totalVotos {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #2196f3;
}
.votosTexto {
  margin-left: 6px;
  color: #444;
}
.container {
  background-color: #f5f5f5; /* Fondo gris claro */
  color: #2196f3; /* Texto oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h2 {
  color: #00008b; /* Azul principal */
  margin-bottom: 20px;
}

.chartContainer {
  margin-top: 20px;
  max-width: 600px; /* Limita el ancho del contenedor del gráfico */
  margin-left: auto;
  margin-right: auto;
}
