.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Agrega estilos adicionales según tus necesidades */
